{% extends 'base.html.twig' %}

{% block body %}

    <body class="bg-white font-family-karla h-screen">

    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                <a href="{{ path("index") }}" class="bg-vert3 text-white font-bold text-xl p-4">Manu-Crochet</a>
            </div>

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <div class="flex flex-col pt-3 md:pt-8" method="post">

                    {{ form_start(formU) }}

                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">Code reçu par mail</label>
                        {{ form_widget(formU.code, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline', placeholder: "monmail@mail.com"} }) }}
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">Nouveau mot de passe</label>
                        {{ form_widget(formU.mdp, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline', placeholder: "************"} }) }}
                    </div>


                    <button type="submit" class="w-full border-2 hover:bg-vert3 transition ease-in duration-200 bg-white border-vert3 text-vert3 hover:text-white text-lg rounded cursor-pointer p-2 mt-8">Changer le mot de passe</button>

                    {{ form_end(formU) }}
                    {% if err is not empty %}
                        <p class="text-lg text-red-500">{{ err }}</p>
                    {% endif %}
                </div>
            </div>

        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="https://images.unsplash.com/photo-1619233985563-fcba75ff25a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
        </div>
    </div>

    </body>
{% endblock %}
