{% extends 'base.html.twig' %}

{% block title %}Administation{% endblock %}

{% block body %}

    <div class="flex" style="font-family: Arial;" x-data="{ open: true }">
        {% include './components/sidebar.html.twig' %}
        <div class="w-full z-10">
            {% include './components/navbarBack.html.twig' %}

            <div class="body">
                <div class="p-8 h-screen overflow-auto" style="background-color: #E4E5E6;">
                    <div class="main bg-white border-2 border-gray-300 rounded">
                        <div class="rounded-t border-b-2 border-gray-300" style="background-color: #F0F3F5;">
                            <h1 class="p-4">Gestion des Articles</h1>

                            <div class="w-6/12 flex flex-wrap justify-around mx-auto mb-10">

                                <div class="overflow-auto mt-2 border-2 border-vert3 w-10/12 h-64">
                                    {% if Articles is not empty %}
                                        {% for art in Articles %}
                                            <div class="flex flex-col">
                                                <div class="flex flex-row justify-between">
                                                    <p class="my-2 mx-2">{{ art.titreArt }}</p>
                                                    <a href="{{ path('backoffice_delArt',{id: art.id}) }}" class="my-2 mx-2" href=""><i class="far fa-trash-alt fa-2x hover:text-red-500"></i></a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-lg text-red-500">Pas d'article ajoutée pour le moment !</p>
                                    {% endif %}
                                </div>

                                <div class="w-10/12">
                                    {{ form_start(form) }}
                                    <div class="flex flex-col">
                                        {{ form_widget(form.TitreArt,{ 'attr': {'class': 'w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500
                                    focus:outline-none',
                                            "placeholder" : "titre de l'article"} }) }}
                                    </div>

                                    <div class="flex flex-col">
                                        {{ form_widget(form.DescriptionArt,{ 'attr': {'class': 'w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500
                                    focus:outline-none',
                                            "placeholder" : "description de l'article"} }) }}
                                    </div>

                                    <div class="flex flex-col">
                                        {{ form_widget(form.image,{ 'attr': {'class': 'w-100 mt-2 py-3 px-3 rounded-lg bg-white dark:bg-gray-800 border border-gray-400 dark:border-gray-700 text-gray-800 font-semibold focus:border-indigo-500
                                    focus:outline-none',
                                            "placeholder" : "Image de l'article"} }) }}

                                    </div>

                                    {{ form_widget(form.creer,{ 'attr': {'class': 'w-full border-2 border-vert3 hover:text-white hover:bg-vert3 text-vert3 font-bold py-3 px-6 rounded-lg mt-3 hover:bg-indigo-500 transition ease-in-out duration-300',
                                        "placeholder" :
                                        "créer"} }) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
